* {
  box-sizing: border-box;
}

:root {
  --black: #141414;
  --white: #fbfbfb;
  --chianti: #7a3145;
  --blush: #d4bfc4;
  --green: #576f35;
  --grey: #858585;
  --transparent: rgba(20, 20, 20, 0.2);
  --greenlight: #3cbc81;
  --smthwrong: #e74a3b;
}

:root {
  --font-family: "Inter Tight", sans-serif;
  --second-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.hero {
  padding: 100px 0px 0px;
  width: 100%;
  min-height: 760px;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-section {
  width: calc(100% - 40px);
  height: auto;
  margin: 0 auto;
}

.hero-section h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--white);
}

.hero-section p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--white);
}

.hero img {
  width: 100%;
  height: auto;
}

.how_it_works {
  width: 100%;
  height: 1208px;
}

.how_it_works_image {
  width: 100%;
  height: 532px;
  background-color: var(--chianti);
  padding: 40px 20px;
}

.how_it_works_image img {
  border-radius: 30px;
  width: 100%;
  height: 452px;
  display: flex;
}

.how_it_works_text {
  width: 100%;
  height: 676px;
  background-color: var(--green);
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
}

.how_it_works_text h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--white);
}

.how_it_works .vegetable,
.easy-steps {
  color: var(--blush);
}

.how_it_works_text p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--white);
}

.steps {
  width: 335px;
  height: 284px;
  display: flex;
  padding: 40px 20px 80px;
}

.step-list {
  text-decoration: none;
}

.circle {
  width: 52px;
  height: 52px;
}

.step-item {
  width: 335px;
  border-radius: 15px;
  display: flex;
  background-color: var(--white);
}

.step-1 {
  padding: 12px 27px 12px 24px;
  height: 84px;
}

.step-2 {
  padding: 12px 59px 12px 24px;
  height: 76px;
}

.step-3 {
  padding: 12px 24px;
  height: 84px;
}

.step-1,
.step-2,
.step-3 {
  display: flex;
}

.step-item p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  padding: 0px 0px 0px 24px;
  color: var(--grey);
}

.step-1 .the-vegetable,
.next-to-it,
.step-2 .the-basket,
.step-3 .fresh-vegetables {
  font-weight: 700;
  color: var(--black);
}
